{% extends "base.html" %}

{% block title %}Confirmación de Canje{% endblock %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg overflow-hidden max-w-lg mx-auto mt-10">
    <div class="p-6">
        <h1 class="text-2xl font-bold mb-4">Confirmación de Canje</h1>
        <p class="text-lg mb-4">{{ message }}</p>
        <div class="mb-4">
            <h2 class="text-xl font-semibold mb-2">Detalles del Beneficio:</h2>
            <p><strong>Nombre:</strong> {{ redemption.benefit.name }}</p>
            <p><strong>Descripción:</strong> {{ redemption.benefit.description }}</p>
            <p><strong>Empresa:</strong> {{ redemption.benefit.company }}</p>
        </div>
        <div class="mb-4">
            <h2 class="text-xl font-semibold mb-2">Información del Canje:</h2>
            <p><strong>DNI:</strong> {{ redemption.dni }}</p>
            <p><strong>Canjeado el:</strong> {{ redemption.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% if redemption.is_scanned %}
                <p><strong>Escaneado el:</strong> {{ redemption.scanned_timestamp.strftime('%Y-%m-% %H:%M:%S') }}</p>
            {% endif %}
            {% if redemption.is_redeemed %}
                <p><strong>Redimido el:</strong> {{ redemption.redeemed_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% endif %}
        </div>
        <a href="{{ url_for('main.index') }}" class="btn-primary">Volver al Inicio</a>
    </div>
</div>
{% endblock %}
